<div class="container" id="page-not-found-body">
  <div class="row">
    <div class="col-md-12">
      <div class="error-template">
        <h1 translate>
          not-found.oops</h1>
        <h2>
          404 {{ 'not-found.code' | translate }}</h2>
        <div class="error-details">
          {{ 'not-found.main' | translate }}
        </div>
        <div class="error-actions">
          <a translate href="http://www.jquery2dotnet.com" class="btn btn-primary btn-lg"><span
              class="glyphicon glyphicon-home"></span>
           {{ 'urls.home' | translate }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
