<div class="container login-container">
  <div class="row">
    <div class="col-md-6 login-form-1">
      <h3>{{ 'authorization.signin-driver' | translate }}</h3>
      <form>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Your Email *" value="" />
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Your Password *" value="" />
        </div>
        <div class="form-group">
          <input type="submit" class="btnSubmit" value="Login" />
        </div>
        <!-- <div class="form-group">
          <a href="#" class="btnForgetPwd">{{ 'authorization.forgot-password' | translate }}</a>
        </div> -->
      </form>
    </div>
    <div class="col-md-6 login-form-2">
      <div class="login-logo">
        <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
      </div>
      <h3>{{ 'authorization.signin-manager' | translate }}</h3>
      <form>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Your Email *" value="" />
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Your Password *" value="" />
        </div>
        <div class="form-group">
          <input type="submit" class="btnSubmit" value="{{ 'authorization.signin' | translate }}" />
        </div>
        <!-- <div class="form-group">

          <a href="#" class="btnForgetPwd" value="Login">{{ 'authorization.forgot-password' | translate }}</a>
        </div> -->
      </form>
    </div>
  </div>
</div>