<div class="container login-container">
  <div class="row">
    <div class="col-md-6 login-form-1">
      <h3>{{ 'authorization.signin-driver' | translate }}</h3>
      <form #authForm1="ngForm" (ngSubmit)="onSubmitDriver()">
        <div class="form-group">
          <label for="driver-email">Email</label>
          <input type="text" name="email" [(ngModel)]="driverModel.email" id="driver-email" placeholder="example@gmail.com" class="form-control" value="" />
        </div>
        <div class="form-group">
          <label for="driver-password">{{ 'authorization.password' | translate }}</label>
          <input type="password" name="password" [(ngModel)]="driverModel.password" id="driver-password" class="form-control" value="" />
        </div>
        <div class="form-group">
          <input type="submit" class="btnSubmit" value="{{ 'authorization.signin' | translate }}" />
        </div>
        <div class="form-group" style="margin-top: 50px;">
          <a routerLink='/register-driver' class="btnSubmit"> {{ 'authorization.register' | translate }}</a>
        </div>
        <!-- <div class="form-group">
          <a href="#" class="btnForgetPwd">{{ 'authorization.forgot-password' | translate }}</a>
        </div> -->
      </form>
    </div>
    <div class="col-md-6 login-form-2">
      <div class="login-logo">
        <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
      </div>
      <h3>{{ 'authorization.signin-manager' | translate }}</h3>
      <form #authForm2="ngForm" (ngSubmit)="onSubmitManager()">
        <div class="form-group">
          <label for="manager-email">Email</label>
          <input type="text" name="email" [(ngModel)]="managerModel.email" id="manager-email" class="form-control" placeholder="manager_example@gmail.com" value="" />
        </div>
        <div class="form-group">
          <label for="manager-password">{{ 'authorization.password' | translate }}</label>
          <input type="password" name="password" [(ngModel)]="managerModel.password" id="manager-password" class="form-control" value="" />
        </div>
        <div class="form-group">
          <input type="submit" class="btnSubmit" value="{{ 'authorization.signin' | translate }}" />
        </div>
        <div class="form-group" style="margin-top: 50px;">
          <a routerLink='/register-manager' class="btnSubmit"> {{ 'authorization.register' | translate }}</a>
        </div>
        <!-- <div class="form-group">

          <a href="#" class="btnForgetPwd" value="Login">{{ 'authorization.forgot-password' | translate }}</a>
        </div> -->
      </form>
    </div>
  </div>
</div>