<h2 *ngIf="isDriver()" style="margin: 0 auto; display: block;">{{ 'stats.all-rides-stats' | translate }}</h2>
<h2 *ngIf="!isDriver()" style="margin: 0 auto; display: block;">{{ 'stats.driver-id-stats' | translate }} {{ driverId }}
</h2>
<ngx-charts-pie-chart style="display: block; margin: 0 auto;" [view]="view" [scheme]="colorScheme" [results]="data"
  [legend]="showLegend" [explodeSlices]="explodeSlices" [legendTitle]="translate.instant(_('stats.legend'))"
  [labels]="showLabels" [doughnut]="doughnut" (select)="onSelect($event)">
</ngx-charts-pie-chart>

<h3 style="margin-top: 25px;">{{ 'stats.place' | translate }}<span
    style="font-weight: bold; font-style: italic"> #{{ place }}</span></h3>
<h4 style="margin-top: 25px;">{{ 'stats.total-rides' | translate }} {{ totalRides }}</h4>
<div style="overflow: auto">
  <div *ngIf="isDriver()" class="alert alert-info"
    style="margin-top: 20px; margin-right: 20px; width: 500px; float: right;">
    <div style="font-weight: bold;">{{ desc | translate }}</div>
    <div>{{ advice | translate }}</div>
  </div>
</div>
<div *ngIf="!isDriver()">
  <h2 style="color: darkred" *ngIf="!streamExistsProp">{{ 'stream.stream-not-exists' | translate }}</h2>
  <img width="266" height="200" src="{{ streamExistsProp ? imgSrc : 'assets/noise.jpg' }}">
  <br>
  <div style="margin-left: 875px; margin-top: -150px; font-weight: bold; font-size: 20px;" [ngStyle]="{ 'color': clr }">{{ 'stats.classes.' + clslabel | translate }}</div>
</div>